<div class="container">
  <div class="row">
    <div class="page-body col-sm-12 col-md-12">
      <div class="page-header">
        <h1>Register New Account</h1>
      </div>

      <%= form_for(resource, as: resource_name,
                   url: registration_path(resource_name),
                   html: { class: 'form-horizontal' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: 'control-label' %>
          <div class="col-sm-11">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <% if !session["devise.user_data"] %>
          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <div class="col-sm-11">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :password_confirmation, "Confirm Password", class: 'control-label' %>
            <div class="col-sm-11">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>