<tr>
  <td class="col-md-2">
    <% if !@project.nil? %>
      <%= link_to time_spent.user.email, time_spent.user %>
    <% elsif !@user.nil? %>
      <%= link_to time_spent.project.name, time_spent.project %>
    <% end %>
  </td>

  <td class="col-md-3">
    <div class="expandable-text"><%= time_spent.notes if time_spent.notes.present? %></div>
  </td>

  <td>
    <% if time_spent.finished_at.present? %>
      <%= distance_of_time_in_words Time.now, time_spent.finished_at %> ago
    <% else %>
      still working
    <% end %>
  </td>

  <td class="col-md-2">
    <% if time_spent.total_time.present? %>
      <%= time_spent.total_time %> hours
    <% else %>
      n/a
    <% end %>
  </td>

  <% if @project.billable? %>
    <td class="col-md-1">
      <%= time_spent.paid_status %>
    </td>
  <% end %>

  <td class="col-md-2">
    <% if time_spent.user == current_user %>
      <%= link_to "Edit", edit_time_spent_path(time_spent), class: "btn btn-primary" %>
      <%= link_to "Delete", time_spent_path(time_spent), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    <% end %>
  </td>
</tr>
