<tr>
  <td class="col-md-2">
    <% if @project.nil? %>
      <%= link_to time_spent.project.name, time_spent.project %>
    <% elsif @user.nil? %>
      <%= link_to time_spent.user.email, time_spent.user %>
    <% end %>
  </td>

  <td class="col-md-3">
    <div class="expandable-text"><%= time_spent.notes if time_spent.notes.present? %></div>
  </td>

  <td>
    <% if time_spent.finished_at.present? %>
      <%= distance_of_time_in_words Time.now, time_spent.finished_at %> ago
    <% else %>
      still working
    <% end %>
  </td>

  <td class="col-md-1">
    <% if time_spent.total_time.present? %>
      <%= time_spent.total_time %> hours
    <% else %>
      n/a
    <% end %>
  </td>

  <td class="col-md-1">
    <% if time_spent.project.billable? %>
      <%= render "time_spents/paid_status", time_spent: time_spent %>
    <% end %>
  </td>

  <td class="col-md-1">
    <% if time_spent.project.billable? %>
      <%= time_spent.amount_paid %>
    <% end %>
  </td>

  <td class="col-md-2">
    <% if time_spent.user == current_user %>
      <%= link_to "Edit", edit_time_spent_path(time_spent), class: "btn btn-primary" %>
      <%= link_to "Delete", time_spent_path(time_spent), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    <% end %>
  </td>

  <% if time_spent.project.billable? %>
    <td class="col-md-1">
      <% if time_spent.user == current_user %>
        <%= check_box_tag "time_spent_ids[]", time_spent.id %>
      <% end %>
    </td>
  <% end %>
</tr>
