<li>
    <span class="content">
        <%= time_spent.notes %>
        <% if !@project.nil? %>
            Belongs to User: <%= time_spent.user %>
        <% elsif !@user.nil? %>
            Belongs to Project: <%= time_spent.project.name %>
        <% end %>
    </span>
    <span class="timestamp">
        Start time: <%= (time_spent.created_at) %>.
        Finish time: <%= (time_spent.finished_at) %>.
        Total time: <%= (time_spent.total_time) %> hours.
    </span>
</li>