<% provide(:title, 'Editing Time Spent') %>

<div class="container">
  <div class="center jumbotron">
    <h2>Editing Time Spent for Project "<%= @time_spent.project.name %>"</h2>

    <%= form_for(@time_spent) do |f| %>
      <div class="field">
        <%= f.label :notes %>
        <%= f.text_area :notes, id: 'notes-text-area' %>
      </div>

      <div class="field">
        <%= f.label :total_time %>
        <%= f.text_field :total_time %>
      </div>

      <div class="field">
        <%= f.label :project_id %>
        <%= f.select :project_id, Project.all.collect { |p| [p.name, p.id] }, { prompt: 'Project' }, class: 'input-block-level' %>
      </div>

      <%= f.submit 'Edit Time Spent', id: 'edit-button', class: 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>