<% provide(:title, 'Editing Time Spent') %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2>Editing Time Spent for Project "<%= @time_spent.project.name %>"</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= form_for @time_spent, html: { class: 'form-horizontal' } do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <div class="form-group">
          <%= f.label :notes, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_area :notes, class: 'form-control', rows: 3 %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :total_time, "Time Worked", class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :total_time, class: 'form-control' %>
          </div>
        </div>

        <% if @time_spent.project.billable? %>
          <div class="form-group">
            <%= f.label :paid_status, "Paid for?", class: 'col-sm-2 control-label' %>
            <%= f.hidden_field :paid_status, id: "paid-status-value" %>
            <div class="col-sm-6 btn-group" data-toggle="buttons">
              <label class="btn btn-default btn-sm btn-paid-status">
                <input type="checkbox"><span class="glyphicon glyphicon-usd"></span>
              </label>
            </div>
          </div>

          <div class="form-group amount-paid-input">
            <%= f.label :amount_paid, class: 'col-sm-2 control-label' %>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <%= f.text_field :amount_paid, class: 'form-control' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :project_id, "Project", class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.select :project_id,current_user.projects_sorted_by_recent_work.collect { |p| [p.name, p.id] },
                         { prompt: 'Project' }, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit 'Edit Time Spent', class: 'btn btn-large btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% render 'time_spent_edit_script' %>