<% if @user == current_user %>
  <% provide(:title, 'Your Profile Page') %>
<% else %>
  <% provide(:title, "#{@user.email}'s Profile Page") %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h2><%= @user.email %>'s History</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3>Total Work Time: <%= @user.total_time %> hours</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <%= form_tag mark_as_paid_time_spents_path, method: :put do %>
        <table class="table table-bordered table-striped push-top">
          <tbody>

            <tr>
              <th>Project</th>
              <th>Description</th>
              <th>Ended</th>
              <th>Hours</th>
              <th>Paid for?</th>
              <th>Hourly Rate</th>
              <th>Actions</th>
              <th>Mark Paid</th>
            </tr>

            <% if @time_spents.any? %>
              <%= render @time_spents %>

              <!-- Last row of the table with the button aligning with the
                   mark as paid checkboxes -->
              <tr>
                <td colspan="7"></td>
                <td><%= submit_tag "Mark Paid", class: "btn btn-primary" %></td>
              </tr>
            <% else %>
              <tr>
                <td colspan="7"><%= @user.email %> hasn't worked yet.</td>
              </tr>
            <% end %>

          </tbody>
        </table>
      <% end %>

      <%= will_paginate(@time_spents) %>
    </div>
  </div>
</div>