<div class="center hero-unit">
    <% if user_signed_in? %>
        <% provide(:title, "#{current_user.email}") %>
        <h1>Dashboard</h1>

        <h2>Timing</h2>

        <%= form_for(@time_spent) do |f| %>
            <%= f.text_field :notes, placeholder: "What did you accomplish..." %>
            <br><%= f.submit "Start", class: "btn btn-large btn-primary" %>
            <%= f.submit "Stop", class: "btn btn-large btn-primary" %>
        <% end %>
    <% else %>
        <h1>Welcome to Hours Logging</h1>

        <h2>Log the hours you spend on projects without the guesswork </h2>

        <%= link_to "Register", new_user_registration_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Login", new_user_session_path, class: "btn btn-large btn-primary" %>
    <% end %>
</div>