<div class="center hero-unit">
    <% if user_signed_in? %>
        <% provide(:title, "#{current_user.email}") %>
        <h1>Dashboard</h1>

        <% if !@existing_task %>
        <h2 id="projects-heading">Projects</h2>
            <%= form_for(@project) do |f| %>
                <%= f.text_field :name, id: "project-text-field", placeholder: "Project Name" %>
                <br><%= f.submit "New Project", id: "project-submit", class: "btn btn-large btn-primary" %>
            <% end %>
        <% end %>

        <% if !@projects.last.nil? %> 
        <h2 id="timing-heading">Timing</h2>
            <%= form_for(@time_spent) do |f| %>
                <br>
                <% if @existing_task %>
                    <div class="field">
                        <%= f.text_area :notes, placeholder: "What did you accomplish?", id: "notes-text-area", class: "time-text-area" %>
                    </div>
                    <%= f.submit "Stop", id: "stop-button", class: "btn btn-large btn-primary" %>
                <% else %>
                    <%= f.collection_select(:project_id, @projects, :id, :name) %>
                    <%= f.submit "Start", id: "start-button", class: "btn btn-large btn-primary", remote: true %>
                <% end %>
            <% end %>
        <% end %>
    <% else %> <!-- Not Logged In -->
        <h1>Welcome to Hours Logging</h1>

        <h2>Log the hours you spend on projects without the guesswork </h2>

        <%= link_to "Register", new_user_registration_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-large btn-primary" %>
    <% end %>
</div>