<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
  <%= f.label :name, class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :privacy_type, "Privacy", class: 'col-sm-2 control-label' %>
  <%= f.hidden_field :privacy_type, id: "privacy-value" %>
  <div class="col-sm-6 btn-group" id="project-privacy-btn-group" data-toggle="buttons">
    <label class="btn btn-primary btn-sm btn-privacy">
      <input type="radio" name="options" id="public" value="<%= Project::PrivacyType::PUBLIC %>"> Public project
    </label>

    <label class="btn btn-primary btn-sm btn-privacy active">
      <input type="radio" name="options" id="private" value="<%= Project::PrivacyType::PRIVATE %>"> Private project
    </label>
  </div>
</div>

<div class="form-group">
  <%= f.label :billable, "Making Money?", class: 'col-sm-2 control-label' %>
  <%= f.hidden_field :billable, id: "billable-value" %>
  <div class="col-sm-6 btn-group" data-toggle="buttons">
    <label class="btn btn-default btn-sm btn-billable">
      <input type="checkbox"><span class="glyphicon glyphicon-usd"></span>
    </label>
  </div>
</div>

<div class="form-group hourly-rate-input">
  <%= f.label :hourly_rate, class: 'col-sm-2 control-label' %>
  <div class="col-sm-6">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :hourly_rate, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-6">
    <%= f.submit "#{submit_text(@project)} Project", class: 'btn btn-primary btn-lg btn-success' %>
  </div>
</div>