<% provide(:title, "#{@project.name}'s Time Spents") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10">
      <h2>
        <%= @project.name %>
        <% if @project.billable %>
          <span class="glyphicon glyphicon-usd"></span>
        <% end %>
      </h2>
    </div>
    <% if current_user == @project.creator %>
      <div class="col-sm-2 col-md-2">
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary col-sm-5 push-top' %>

        <% if @project.time_spents.empty? %>
          <%= link_to 'Delete', project_path(@project), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger col-sm-offset-1 col-sm-5 push-top' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% if @project.billable %>
    <div class="row">
      <div class="col-sm-10 col-md-10">
        <h4>Current Bill Rate: <%= humanized_money_with_symbol @project.hourly_rate %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-10">
        <h4>Total Paid: <%= humanized_money_with_symbol @project.total_paid %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-md-10">
        <h4>Amount owed: <%= humanized_money_with_symbol @project.amount_owed %></h4>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-10 col-md-10">
      <h4>Description: <%= @project.description %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-md-10">
      <% if @project.public? %>
        <h4>Public project</h4>
      <% else %>
        <h4>Private project</h4>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
        <li class="active">
          <a href="#time_spents" data-toggle="tab">Time Spents</a>
        </li>

        <li>
          <a href="#users" data-toggle="tab">User Distribution</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="time_spents">
          <%= form_tag mark_as_paid_time_spents_path, method: :put do %>
            <table class="table table-bordered table-striped push-top">
              <tbody>
                <tr>
                  <th>User</th>
                  <th>Description</th>
                  <th>Ended</th>
                  <th>Hours</th>
                  <th>Paid for?</th>
                  <th>Actions</th>
                  <% if @project.billable? %>
                    <th>Mark Paid</th>
                  <% end %>
                </tr>
                <% if @time_spents.any? %>
                  <%= render @time_spents %>

                  <!-- Last row of the table with the button aligning with the
                       mark as paid checkboxes -->
                  <% if @project.billable? %>
                    <tr>
                      <td colspan="6"></td>
                      <td><%= submit_tag "Mark As Paid", class: "btn btn-primary" %></td>
                    </tr>
                  <% end %>
                <% else %>
                  <tr>
                    <td colspan="7">No one has worked on <%= @project.name %> yet.</td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>

          <%= will_paginate(@time_spents) %>
        </div>

        <div class="tab-pane" id="users">
          <table class="table table-bordered table-striped push-top">
            <tbody>
              <tr>
                <th>User</th>
                <th>Total Time</th>
                <th>Percentage of Total Work</th>
              </tr>
              <% if @users.any? %>
                <%= render partial: 'users/user_distribution', collection: @users, as: :user %>
              <% else %>
                <tr>
                  <td colspan="5">No users have worked on <%= @project.name %> yet.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>