<div class="container">
  <div class="row">
    <div class="page-body col-sm-12 col-md-12">
      <div class="page-header">
        <h1>Sign in</h1>
      </div>

      <%= form_for(resource, as: resource_name,
                   url: session_path(resource_name),
                   html: { class: 'form-horizontal' }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.email_field :email, class: 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, class: 'col-sm-1 control-label' %>
          <div class="col-sm-11">
            <%= f.password_field :password, class: 'form-control'%>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %> Remember me
                </label>
              </div>
            </div>
          </div>
        <% end -%>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-11">
            <%= f.submit 'Sign in', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>