<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= raw full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/nav_bar' %>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <%= content_tag(:div, flash[:error], class: 'alert alert-danger', id: 'flash_danger') if flash[:error] %>
            <%= content_tag(:div, flash[:notice], class: 'alert alert-warning', id: 'flash_notice') if flash[:notice] %>
            <%= content_tag(:div, flash[:alert], class: 'alert alert-info', id: 'flash_alert') if flash[:alert] %>
            <%= content_tag(:div, flash[:success], class: 'alert alert-success') if flash[:success] %>
          </div>
        </div><!--/row-->
      </div><!--/content-->
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <% if content_for?(:before_body_end) %>
      <%= yield(:before_body_end) %>
    <% end %>
  </body>
</html>
